body
{
    box-sizing: border-box;
    border: none;
    margin: 0;
}

main header
{
    max-width: 1200px;
    margin: auto;
    height: auto;
}
header
{
    background: darkgray;
    color: #DD5735;
    width: 100%;
    margin: auto;
    height: 150px;
    text-align: center;
    border: none;
}
h1
{
    margin-top : 0;
    padding: 50px;
}

.menua
{
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 25px;
}

.menuli
{
    background-color: #DD5735;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;

}
.menua:hover
{
    color: #DD5735;
    transition: 0.3s;
}
.menuli:hover
{
    background-color: whitesmoke;
    transition: 0.3s;
}
.menuul
{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: 20px;
    padding-left: 50px;
}
main
{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.image
{
    float: left;
    margin-right: 100px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.floatnone
{
    clear: both;
    margin-bottom: 15px
}
.texteexpe
{
    margin-top: 100px;
}
h2
{
    color: ;
}
h3
{
    text-align: center;
    color: #DD5735;
    font-size: 30px;
}
.capitaine
{
    margin-left: 30px;
    width: 250px;
    display: inline-block;
}
