body
{
    box-sizing: border-box;
    border: none;
    margin: 0;
    width: 100%;
    background-color: #F0F8FF;
}
header
{
    background: #07415D;
    color: #DD5735;
    width: 100%;
    margin: auto;
    height: 150px;
    text-align: center;
    border: none;
}
h1
{
    margin-top : 0;
    padding: 50px;
    text-shadow: 1px 1px #F0F8FF;
}

.menua
{
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 25px;
}

.menuli
{
    background-color: #DD5735;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;

}
.menua:hover
{
    color: #DD5735;
    transition: 0.3s;
}
.menuli:hover
{
    background-color: whitesmoke;
    transition: 0.3s;
}
.menuul
{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: 20px;
    padding-left: 50px;
}
main
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.image
{
    float: left;
    margin-right: 100px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.floatnone
{
    clear: both;
    margin-bottom: 15px
}
.texteexpe
{
    margin-top: 100px;
}
h3
{
    text-align: center;
    color: #DD5735;
    font-size: 30px;
}
.capitaine
{
    margin-left: 30px;
    width: 250px;
    display: inline-block;
}
.paragraphesport
{
    font-size: 20px;
    margin-top: 25px;
    padding-top: 35px;
}
#etude
{
    margin-top: 50px;
    height: 50px;
}

@media (max-width: 1200px) {
    .image{
        margin-right: 30px;
        margin-bottom: 5px;
    }
    .texteexpe{
        margin-top: 50px;
    }
    .menuli{
        display: block;
        text-align: center;
    }
    .menuul a{
        font-size: 50px;
    }
    .menuul{
        padding-left: 0;
    }
    h1
    {
        font-size: 60px;
    }
    header
    {
        height: 250px;
    }
}