body
{
    box-sizing: border-box;
    border: none;
    margin: 0;
    width: 100%;
    background-color: #F0F8FF;
}
.darkmode
{
    background-color: #001231;
}
.darkmode h2
{
    color: #F0F8FF;
}

.darkmode p
{
    color: #d5dcef;
}
.darkmode ul.capitaine li
{
    color: #d5dcef;
}
.darkmode .menuli
{
    background-color: #280d05;
}
.darkmode .menuli:hover
{
    background-color: slategrey;
}
.darkmode h1
{
    text-shadow: 1px 1px #000000;
}
.darkmode button
{
    background-color: #280d05;
}
.darkmode button:hover
{
    background-color: slategrey;
}
header
{
    background: #07415D;
    color: #DD5735;
    width: 100%;
    margin: auto;
    height: 150px;
    text-align: center;
    border: none;
}
footer
{
    background: #07415D;
    color: #DD5735;
    width: 100%;
    margin-top: 100px;
    height: 150px;
    border: none;
}

h1
{
    margin-top : 0;
    padding: 50px;
    text-shadow: 1px 1px #F0F8FF;
}

.menua
{
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 25px;
}

.menuli
{
    background-color: #DD5735;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
.menua:hover
{
    color: #DD5735;
    transition: 0.3s;
}
.menuli:hover
{
    background-color: whitesmoke;
    transition: 0.3s;
}
.menuul
{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: 20px;
    padding-left: 50px;
}
main
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.pourmoi
{
    text-align: center;
}
.darkmode #laphoto {
    border-radius: 55px;
    box-shadow: 0px 0px 4px 4px rgba(233, 232, 232, 0.6);
}
#laphoto {
    border-radius: 55px;
    box-shadow: 0px 0px 4px 4px rgba(62, 61, 61, 0.6);
}
.image
{
    float: left;
    margin-right: 100px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.paraprofil
{
    display: inline-block;
}

.floatnone
{
    clear: both;
    margin-bottom: 15px
}
.texteexpe
{
    margin-top: 100px;
    color: #07415D;
}
h3
{
    text-align: center;
    color: #DD5735;
    font-size: 30px;
}
.capitaine
{
    margin-left: 30px;
    width: 250px;
    display: inline-block;
}
.paragraphesport
{
    font-size: 20px;
    margin-top: 25px;
    padding-top: 35px;
    color: #708090;
}
#etude
{
    margin-top: 50px;
    height: 50px;
}
.divetude
{
    margin: 100px;
}
#pourlebouton{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
button
{
    background-color: #DD5735;
    border-radius: 10px;
    color: #e7e7e7;
    border: none;
    font-size: 25px;
    padding: 10px;
}
button:hover
{
    background-color: whitesmoke;
    transition: 0.3s;
    color: #DD5735;
}
.border{
    border-radius: 50px;
}
.bordersport{
    border-radius: 10px;
}
.espace
{
    margin-top: 50px;
}
.lienfb
{
    text-decoration: none;
}
.lienfb:hover
{
    color: #DD5735;
    transition: 0.3s;
}
.linkedin
{
    float: right;
    padding-top: 75px;
    padding-right: 25px;
}
.footertexte
{
    color: slategrey;
    font-size: 20px;
    padding-top: 75px;
    padding-left: 25px;
    display: inline-block;
}
@media (max-width: 1200px) {
    .image{
        margin-right: 30px;
        margin-bottom: 5px;
    }
    .texteexpe{
        margin-top: 50px;
    }
    .menuli{
        display: block;
        text-align: center;
    }
    .menuul a{
        font-size: 50px;
    }
    .menuul{
        padding-left: 0;
    }
    h1
    {
        font-size: 60px;
    }
    h2
    {
        font-size: 60px;
    }
    .capitaine
    {
        width: 75%;
    }
    .paragraphesport
    {
        font-size: 45px;
    }
    .capitaine li
    {
        font-size: 45px;
        padding-top: 0;
    }
    .titreh3{
        font-size: 50px;
    }
    header
    {
        height: 250px;
    }
    .divetude
    {
        margin: 0;
    }
    .profil
    {
        display: inline-block;
        text-align: center;
    }
    #pourlelinkedin
    {
        display: flex;
    }
    #bouton
    {
        font-size: 50px;
        padding: 30px;
    }
    .footertexte
    {
        font-size: 35px;
        text-align: center;
        padding-top: 20px;
    }
    .linkedin
    {
        padding-right: 150px;
    }
}